*
{
    margin: 0;
    padding: 0;
}
html
{
    min-height: 100%;
    position: relative;
}
body 
{
    font-family:'Open Sans';
    
    background-color: #9BF6FF;
    
}
nav,header, footer
{
    font-family:Roboto;
}
nav
{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.833333%;
    padding-right: 0.833333%;
    background-color: white;
    width:98.33333333%; /*Calculamos respecto al width en este caso 1200px porque es el ancho de body*/
    min-height: 4rem;
   
  
}
ul
{
    margin-top: 2rem;
    margin-right: 2%;
    float:right;
    width: 70%;
    text-align: right;
}
a
{
    margin-top: 2rem;
    text-decoration: none;
    font-weight: bolder;
    color: black;
    font-size: 1.4rem;
}  
a:hover
{
	color:#1C6E8C;
}
li
{
    display: inline-block;
    margin-right:5%;  /* Lo calculamos respecto al width del ul que es su caja contenedora que es 590 px*/

}
#logo
{
    float: left;
    width: 10,16949152542373%; /* Lo calculamos respecto al width del nav que es su caja contenedora que es 1180 px*/
    height: 4.5rem;
}
#logo img
{
    width: 100%;
    height:100%;
}
#imagenNavidad
{
    width: 100%;
    
}

#imagenNavidad img
{
    width: 100%;
}
main
{
    width: 100%;/* Lo calculamos respecto al width de su caja contenedora que es 1200 px*/
    margin-top: 1.5rem;
    margin-bottom: 1rem; 
    min-height: 10rem; 
    overflow: hidden;
    position: relative;
}
main div:nth-child(1)
{
    padding-left: 0.4166666666666667%;/* Lo calculamos respecto al width de su caja contenedora que es 1200 px*/
    float:left ;
    margin-top:10px;
    min-height: 500px;
    width: 48.75%; /* Lo calculamos respecto al width de su caja contenedora que es 1200 px*/
    /*border:3px solid black;
    border-radius: 10px;*/
}
main div:nth-child(1) p
{
    position: relative;
    top: -20.5rem;
}
main div:nth-child(1) iframe
{
    position: relative;
    top: 9.7rem;
    width: 95.72649572649573%;/* Lo calculamos respecto al width de su caja contenedora que es 585 px*/
    height: 20.5rem;
}


main div:nth-child(2)
{
    float:left ;
    height: 35rem;
    width: 49.16666666666667%; /* Lo calculamos respecto al width de su caja contenedora que es 1200 px*/
    margin-top:1.5rem;
    margin-left: 1.666666666666667%; /* Lo calculamos respecto al width de su caja contenedora que es 1200 px*/
    /*border:3px solid black;
    border-radius: 10px;*/
    /*background-color: blue;*/
}
#feliciar
{
    margin-left: 0;
    margin-top: 2rem;
    
    background-color: #6AB6FF;
    width: 95.72649572649573%;/* Lo calculamos respecto al width de su caja contenedora que es 585 px*/
    height: 19.5rem;
    padding-top: 1rem;
    padding-left: 2.5%;
    padding-right: 2.5%;
    margin-top: 6rem;
    text-align: justify;
}
footer
{
    background-color: #1C6E8C;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3.5rem;
    width: 100%; /* Lo calculamos respecto al width de su caja contenedora que es 1200 px*/
}
marquee
{
    margin-top: 1rem;
    text-decoration: dashed;
    font-weight: bold;
}
@media only screen and (max-width: 500px)
{
	#logo
    {
        
        float: none;
        display: block;
        width: 20%;
        text-align: center;
    }
    li
	{
        padding: 0;
		display: block;
		
	}
    nav
    {
        text-align:center;
    }
    
	ul
    {
        float: none;
        text-align: center;
    }
    main div:nth-child(1), main div:nth-child(2)
    {
        float: none;
    }
}